*{
    margin: 0;
    padding: 0;
}
:root{
    --backgroud-color: black;
    --color: pink;
}
nav{
    text-decoration: none;
    text-align: left;
    background-color: var(--backgroud-color);
    display: flex;
    width: 400%;
    max-width: 400%;
    height: 40px;
}
ul{
     margin: 5px;
     padding: 2px ;
    display: flex;
    width: 300%;
}
ul li {
    padding: 5px;
    margin: 2px;
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: var(--color);
    margin: 5px;
    text-align: left;
}
.box{
    height: 1000px;
    width: 100%;
    margin: 8px;
    padding: 10px;
}
.box1{
    height: 400px;
    width: 50px;
}
.box2{
    height: 300px;
    width: 10px;
    display: flex;
}